@{
    ViewBag.Title = "Authorization Complete";
}
<div class="row" style="padding: 5px;">
    <div class="col-md-12">
        <p>You can now close this authorization dialog and refresh the Excel app to select a site.</p>
    </div>
</div>

